doctype html
html
	body
		head
			title Trails Completed!
			link(rel='stylesheet', href='style.css')
		h1 Trails Completed!!!
		ul.myList(id='')
			li #{trailName}
			li #{trailLength}
			li #{trailLocation}
			li #{trailDifficulty}
			li #{trailDescription}
		script#list-template(type='text/x-handlebars-template').
			</body></html>
